{
    "bootstrap": true,
    "server": true,
    "log_level": "DEBUG",
    "enable_syslog": true,
    "datacenter": "dc1",
    "addresses" : {
      "http": "0.0.0.0"
    },
    "bind_addr": "{{ consul_ip }}",
    "node_name": "{{ consul_ip }}",
    "data_dir": "/tmp/consul",
    "ui_dir": "/tmp/consul",
    "encrypt": "encryption_var"
}